$white:             #ffffff !default;
$black:             #222222 !default; // I hate exact black. Eeww

$primary:           #548c4c !default;
$secondary:         #6e6e6e !default;

$darkgrey:          #323232 !default;
$lightgrey:         #a7a7a7 !default;
